@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

body {
  background-color: rgba(211, 211, 211, 0.3);
  font-family: Arial, Helvetica, sans-serif;
}

#container {
  width: 50vw;
  background-color: #fff;
  height: auto;
  margin: auto;
  margin-top: 50px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 2px 2px 2px 2px rgba(211, 211, 211, 1);
}

textarea,
input {
  outline: none;
}

#refresh {
  cursor: pointer;
}

#title {
  padding-left: 9px;
}

#sync {
  padding-right: 9px;
  cursor: pointer;
}

h1 {
  display: flex;
  margin: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgba(211, 211, 211, 0.3);
  height: 50px;
  padding: 0 9px 0 18px;
  box-sizing: border-box;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.7);
}

.input {
  font-size: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  overflow: auto;
  border: none;
  cursor: pointer;
}

form {
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.text-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgba(211, 211, 211, 0.3);
  height: 48px;
}

textarea {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  border: 0;
  margin: 0 1px 0 0;
  padding-left: 15px;
  resize: none;
  font-size: 16px;
}

textarea::placeholder {
  font-style: italic;
  vertical-align: middle;
}

#clear {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  background-color: rgba(211, 211, 211, 0.3);
  font-size: 16px;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  height: 50px;
  width: 100%;
}

#clear:hover {
  background-color: rgba(211, 211, 211, 0.5);
}

.listed-task {
  min-height: 50px;
  border-bottom: 2px solid rgba(211, 211, 211, 0.3);
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 5fr 90fr 1fr;
  align-items: center;
  padding: 0 9px;
  margin-top: 1px;
}

.check {
  transform: scale(1.4);
  outline-color: rgba(211, 211, 211, 0.3);
}

#task-list {
  width: 100%;
  margin: 0;
  padding: 0;
}

.bi-three-dots-vertical {
  padding-right: 9px;
  color: rgba(211, 211, 211, 0.5);
  font-size: x-large;
  cursor: pointer;
}

.bi-three-dots-vertical:hover {
  color: rgb(255, 0, 0);
}

sup {
  color: red;
  font-size: 16px;
  font-family: monospace;
  font-style: normal;
}

.bi-trash {
  cursor: pointer;
}

#return {
  border: none;
  background-color: #fff;
  padding-right: 18px;
  font-size: x-large;
  cursor: pointer;
}
